body{
    font-family: $roboto;
    background-color: $white;
}

nav{
    ul{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 40px 0;
        li{
            &.current_page_item{
                a{
                    font-weight: $med;
                    text-decoration: none;
                    color: $black;
                }
            }
            &:hover{
                a{
                    text-decoration: none;
                    color: $black;
                }
            }
            a{
                font-family: $poppins;
                padding: 0 30px !important;
                font-weight: $light;
                color: $black;
            }
        }
    }
}