.content{
    .content-wrapper{
        display: block;
        padding: 50px 0 30px;
        .desc{
            text-align: center;
            color: $ash;
            padding: 50px 0;
        }
    }
}