@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500|Roboto+Slab:300,400,500&display=swap');

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto Slab', serif;

// Font Weights

$light: 300;
$reg: 400;
$med: 500;